<div id="index_content">
<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<p> The most recent post should go here or something </p>
<%= link_to "View All Posts", "/posts" %>
</div>