<div id="index_content">
<h1>Most recent posts</h1>
<div id="container">
<% Post.last(10).each do |post| %>
  <div class="hero-unit">
    <h2><%= link_to "#{post.title}", post %></h2>
    <p><%= post.summary.html_safe %></p>
  </div>
<% end %>
</div>

<%= link_to "View All Posts", "/posts" %>
</div>